eventogui.xsd

<?xml version="1.0"  encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EventoGUI">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ipClient" type="xs:string"/>
                <xs:element name="data"     type="xs:string"/>
                <xs:element name="ora"      type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="nomeApplicazione" type="xs:string" use="required"/>
            <xs:attribute name="etichetta"        type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
